*{
margin: 0px;
padding: 0px;
font-family: monospace;
size: 12px;
color: white;
}

html, body {
  height: 100%;
  margin: 0;
}

h1 {
  font-size: 5em; /* Adjust the size as needed */
}

p {
  font-size: 2.3em; /* Adjust the size as needed */
}

#game-board {
  visibility:hidden;
    width: 960px;
    height: 410px;
    position: relative;
    overflow: hidden;
    background: url('./assets/fotos2/VFAdB1esp6F_2qfH3ftUJiHKErdR-NmqDCm442OlFX8.webp');
  
  }

    

#player {
    position: absolute;
    top: 100px;
    left: 100px;
    width: 60px;
    height: 66px;
    background: url('https://cdn-icons-png.flaticon.com/512/3118/3118044.png') center/cover;
  }
  
 
  .enemy{
    position: absolute;
    width: 95px;
    height: 60px;
    background: url('https://pngimg.com/d/shark_PNG18830.png') center/cover;
    transform: rotate(270deg); /* Rotate the image by 45 degrees */
} 
  


.frenemy{
  position: absolute;
  width: 50px;
  height: 50px;
  background: url("./assets/fotos2/fishTile_072.png");
  background-size: 50% 50%; /* Adjust the percentage values as needed */
  /* other styles */
  transform: rotate(270deg); /* Rotate the image by 45 degrees */
    animation: changeBackground 10s infinite; /* Adjust the duration as needed */
}

@keyframes changeBackground {
    0%, 100% {
      background: url("./assets/fotos2/fishTile_076.png");
    }
    25% {
      background: url("./assets/fotos2/fishTile_073.png");
    }
    50% {
      background: url("./assets/fotos2/fishTile_074.png");
    }
    /* Add more keyframes for additional backgrounds */
}

 

  /* //https://cdn.pixabay.com/photo/2020/06/29/20/22/fish-5354282_1280.png

//https://cdn.pixabay.com/photo/2020/05/16/19/47/fish-5178959_1280.png */



.enemy2{
  position: absolute;
    width: 95px;
    height: 60px;
    background: url('https://pngimg.com/d/shark_PNG18830.png') center/cover;
    transform: rotate(270deg); /* Rotate the image by 45 degrees */
}

#start-screen {
  background-image: url("./assets/fotos2/463192.jpg");
  background-size:auto;
  color: #fff;
  padding: 10px;
  height: 90%;
  margin: 0;
  display: flex;
  flex-direction: column; /* Align children in a column layout */
  align-items: center;
  justify-content: flex-start; /* Align content to the top of the container */
}



#startButton {
  height: 150px;
  width: 300px;
  background-color: white;
  color: black;
  font-size: 50px;
  font-family: sans-serif;
  ;
  

}

#restartButton{
  visibility: hidden;

}
 
/*

//url("https://external-preview.redd.it/VFAdB1esp6F_2qfH3ftUJiHKErdR-NmqDCm442OlFX8.jpg?width=960&crop=smart&auto=webp&s=54c0eddceaa13ceda72bbe6b48cf061cb74d0901"
 //url('https://cdn-icons-png.flaticon.com/512/3118/3118044.png') center/cover;

//url('https://pngimg.com/d/shark_PNG18830.png') center/cover; */

